/* Service */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}
a:hover {
  color: unset;
}
.background-orange {
  background-color: #febc41;
}
.text-light {
  color: #aaacba;
}
.text-bold {
  font-weight: bolder !important;
}

.text-api {
  position: absolute;
  top: 7%;
}

.w90 {
  width: 90%;
}
.w70 {
  width: 70% !important;
}
.w10{
  width: 10% !important;
}

.mb50 {
  margin-bottom: 50px;
}
.br1 {
  border-right: 1px solid #121527 !important;
}

.absolute-right {
  position: absolute;
  right: 1.5%;
}

.add-partner {
  position: absolute;
  right: 11.5%;
  background: #febc41;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}
.export-partner {
  position: absolute;
  right: 1.5%;
  background: #a2afff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
}

.role {
  position: absolute;
  right: 23%;
  top: 4.5%;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.btn-push {
  background: #ea9813;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #121527;
  border: none;
}

.logo-title {
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ea9813;
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #757682;
}

.link-edit {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ea9813;
}
.link-edit:hover {
  color: #cb7e01;
}

.dashboard-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 3%;
}

.card-transaksi {
  width: 18%;
  margin: 0 1% 20px;
}

.nonpadding {
  padding: unset !important;
}

.btn-add {
  background: #febc41;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  color: #000;
}

.p-10 {
  padding: 0 10px;
}

.h50 {
  height: 50px;
}

.btn-active {
  background: #e6e6f2 !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 6px 5px !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #4a4aff !important;
}

.btn-inactive {
  background: #F2F0F9 !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 6px 5px !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #6E6893 !important;
}
.btn-suspend {
  background: #ffe3dd !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 6px 5px !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #fa674a !important;
}

.input-add {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 400px;
  font-size: 14px;
  transition: padding 0.3s 0.2s ease;
}
.input-add:focus {
  padding-bottom: 5px;
}
.input-add:focus + .line:after {
  transform: scaleX(1);
}
.input-add-listing {
  background: 0;
  border: 0;
  outline: none;
  width: 100%;
  font-size: 14px;
  transition: padding 0.3s 0.2s ease;
}
.input-add-listing:focus {
  padding-bottom: 5px;
}
.input-add-listing:focus + .line:after {
  transform: scaleX(1);
}
.field {
  position: relative;
}
.field .line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
  background: #bdc3c7;
}
.field .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 2px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #ffad15;
}
.select-edit {
  width: 100%;
  border: none;
  border-bottom: 2px solid #bdc3c7;
  padding: 0 0 4px;
  background: none;
}
.select-edit:active {
  outline: none;
}
.btn-save {
  background: #febc41;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #121527;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  padding: 11px 24px;
  border: none;
  cursor: pointer;
}
.btn-save:hover {
  background: #ffad15;
}
.btn-save:focus {
  outline: none;
}

.pr11 {
  padding-right: 11px;
}

.btn-upload-icon {
  background: #febc41;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  width: 20%;
  height: 25px;
  border: none;
  cursor: pointer;
}

.btn-upload-icon:focus {
  outline: unset;
}

.link-active {
  color: #ea9813;
}

.modal-body {
  padding: 24px 24px 0;
}

.modal-footer {
  padding: 0 24px 24px 24px;
  border-top: unset;
}

.border-profile {
  width: 56px;
  height: 56px;
  overflow: hidden;
}

.border-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-profile-edit {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
}

.text-bold {
  font-weight: bolder !important;
}

.border-popup-trash {
  width: 30%;
  margin: auto;
}

.border-popup-trash img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-opened {
  background: rgba(40, 181, 100, 0.1) !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #28b564 !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-reject {
  background: #ffe3dd !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #fa674a !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}
.btn-reject-border{
  width: 100%;
  padding: 12px 0;
  background: #FFFFFF;
  border: 1px solid #FA674A;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FA674A;
  cursor: pointer;
}
.btn-reject-border:hover{
  background: #ffab9a;
  color: #fff;
}
.btn-reject-accept{
  width: 100%;
  padding: 12px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #28B564;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.btn-reject-accept:hover{
  background: #4ed086;
  color: #fff;
}
.btn-close {
  background: rgba(162, 175, 255, 0.1) !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #6b7ffa !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-push {
  background: #ea9813 !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #121527 !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-contacting {
  background: #e7f9ff !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #1ba5da !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-applying {
  background: #f2f6ff !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #6b7ffa !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-ongoing {
  background: #fff9ed !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #febc41 !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-hired {
  background: #e0ffed !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #28b564 !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-cancel {
  background: #ffe3dd !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #fa674a !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.btn-refund {
  background: #fff9ed !important;
  border-radius: 12px !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #febc41 !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
}

.card-scroll {
  width: 100%;
  overflow: scroll;
}

.maps-border {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
}

iframe {
  object-fit: contain;
}

.select-komisi {
  background: #ffffff;
  border: 1px solid #aaacba;
  box-sizing: border-box;
  border-radius: 6px;
  height: auto;
  min-width: 290px;
  padding: 8px 12px;
}

.hover-row :hover {
  background-color: rgb(242, 242, 242);
}

.card-total {
  background: #f2f6ff;
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: center;
}
.card-diterima {
  background: rgba(40, 181, 100, 0.1);
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: center;
}
.card-ditolak {
  background: #ffe3dd;
  border-radius: 6px;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: center;
}

.text-regular {
  font-weight: normal;
}

.btn-tolak {
  background: #fa674a !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  color: #ffffff !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
  width: 58px !important;
}
.btn-terima {
  background: #28b564 !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  text-align: center !important;
  color: #ffffff !important;
  border: none !important;
  padding: unset !important;
  height: 24px !important;
  width: 58px !important;
}

.profile-column {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.title-action {
  background: #eeeeee;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 100%;
  height: 44px;
  color: #757682;
  line-height: 44px;
}

.title-action:first-child {
  border-right: 1px solid #eee;
}

.border-action {
  padding: 2%;
}

.border-switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.py8 {
  padding: 8px 0;
}

.text-gray{
  color: #757682;
}

.nav-link-vertical {
  display: block;
  padding: 0.5rem 1rem;
  margin: 5px;
  background: #fff;
  color: #febc41;
  text-align: center;
}

div#cke_1_contents,
div#cke_2_contents,
div#cke_3_contents,
div#cke_4_contents,
div#cke_5_contents{
  height: 400px !important;
}

.faq-save{
  padding: 11px 0;
  width: 10%;
  background: #EA9813;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  
}
.faq-cancel{
  padding: 11px 0;
  width: 10%;
  background: #FFFFFF;
  border: 1px solid #EA9813;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #EA9813;
  justify-content: center;
  
}